body {
    background-color: rgb(98, 98, 235);
    font: normal 15pt Arial;
}
section {
    background: white;
    width: 600px;
    margin: auto;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}
header {
    color: white;
    text-align: center;
}
footer {
    padding-top: 20px;
    text-align: center;
    font-style: italic;
    color: white;
}

